---
import "../styles/global.css";
import Frame from "../layout/frame.astro";
import Hero from "../components/AboutKarruselHero.astro";
---

<div class="frame-container">
  <Frame pageTitle="About Karrusel">
    <img class="topImg" src="images/grain2.jpg" alt="gk"/>
    <h1 class="about">About Us</h1>
    <Hero style="fliped"
      header="Festival Experience"
      text="Karrusel belives in the right to a harassment-free festival experience. we belive in the right of everyone to express themselves. Karrusel welcomes everybody - all with their different orientations, experiences, histories and backgrounds. Karrusel only exists if everyone takes care of each other, respects their own and others boundaries, embraces diversity and acts as a part of the community. If you feel unsafe, please reach out to our awareness team. They will be wearing a pink vests and walk around the site and be at their base (see on this map). Ask any festival staff and they will guide you to the them. Take responsibility for your own actions. Respect your own and others boundaries. Speak up rather than look the other way"
      imgPath="images/aex.webp"/>
    <Hero
      style="normal"
      header="Sustainability"
      text="Karrusel is committed to becoming more sustainable. In order to save resources and reduce waste we use left over materials and timber for stage designs and installations. We will re-use production and print materials when possible year after year. Beverages are served in reusable or sustainable materials. Straws are not being used. How you can help: Take a bike or public transport to the festival. Don’t bring confetti or glitter to the festival. There will be free tap water stations during the festival. Please bring an empty cup or bottle and drink nice free tap water."
      imgPath="images/a2n.webp"
    />
    <Hero style="fliped"
    header="History"
    text="2024 marks the 5th edition of Karrusel. Karrusel is a circus themed rave presenting some of the world's leading electronic artists. n½ Past editions include performances by Acid Pauli, Amelie Lens, Dixon, FJAAK, Folamour, Hunee, Job Jobse, Kölsch, Mall Grab, Nastia, Partiboi69, Peggy Gou, Richie Hawtin, Skin On Skin, The Blessed Madonna, Victor Ruiz and VTSS. The festival is open air and takes place on secluded green spot at the abandoned shipyard of Refshaleøen in central Copenhagen."
    imgPath="images/a3.webp"/>
  </Frame>
</div>

<style>
  img{
    width: auto;
    height: auto;
  }

  .frame-container{
    margin: 10px;
  }

  .about{
    position: absolute;
top: 172px;
left: 50px;
    z-index: 2;
  }
  .topImg{
    position: relative;
  }
  @media (max-width: 600px){
  .topImg{
    width: 107.3%;
    margin-left: -27px;
  }
}
  @media (min-width: 600px){
    .about{
      top: 350px;
    left: 92px;
    font-size: 6em;
    }
  .topImg{
    margin-left: -24px;
  }
}
/* forsøg på et ekstra breakpoint */

/* @media (max-width: 800px){
  .topImg{
    width: 104.9%;
    margin-left: -27px;
  }
  .about{
      top: 220px;
    left: 62px;
    font-size: 4em;
    }
} */
</style>