---
import "../styles/global.css";
import Frame from "../layout/frame.astro";
import Hero  from "../components/AboutKarruselHero.astro";
---

<Frame pageTitle="About Karrusel">
    <img src="https://i.ibb.co/NpxKS9r/grainy-karrusel.webp" alt="">
    <Hero/>
    <img src="" alt="">
    <h3></h3>
    <p></p>
</Hero>
</Frame>