---
import "../styles/global.css";
import Frame from "../layout/frame.astro";
---

<Frame pageTitle="Hello!">
  <h1>Astro</h1>
  <p>Welcome to Astro! This is a simple Astro app with a global CSS file.</p>
</Frame>
