---
import "../styles/global.css";
import Frame from "../layout/frame.astro";
import Countdown from "../components/Countdown.astro";
---

<Frame pageTitle="Karrusel - home">
  <h1>Astro</h1>
  <p>Welcome to Astro! This is a simple Astro app with a global CSS file.</p>
  <img src="/images/forside.jpg"/>
  <button id="button">Click me</button>
  <p id="demo"></p>
  <Countdown/>
</Frame>
