---
import "../styles/global.css";
import Frame from "../layout/frame.astro";
import Artist from "../components/ArtistListCard.astro";

// const data = await fetch(
//   "https://myhqkwqioylnwcjprmet.supabase.co/rest/v1/Lineup",
//   {
//     method: "GET",
//     headers: {
//       apikey:
//         "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15aHFrd3Fpb3lsbndjanBybWV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTE0NDIsImV4cCI6MjAyNjA2NzQ0Mn0.RvhZ9rBSrv_h9t4TzuRaHdc5JRL4EhTOKGCG40tyWSA",
//     },
//   }
// ).then((res) => res.json());

// console.log(data);
---

<Frame pageTitle="Lineup">
  <h1>LINEUP</h1>
  <h2>This is the complete lineup for Karrusel 2024</h2>

  <div class="filter-container">
    <button class="filter">Thursday</button>
    <button class="filter">Friday</button>
    <button class="filter">Saturday</button>
  </div>

  <div class="artist_grid">
    <Artist name="Anna Logic" imgPath="/images/anna.webp" link="/artist" />
    <Artist name="HAAi" imgPath="/images/haai.webp" link="/artist" />
    <Artist name="Narciss" imgPath="/images/narciss.webp" link="/artist" />
    <Artist name="Mira" imgPath="/images/mira.webp" link="/artist" />
    <Artist name="FJAAK" imgPath="/images/fjaak.webp" link="/artist" />
    <Artist name="SPFDJ" imgPath="/images/spfdj.webp" link="/artist" />
  </div>
</Frame>

<style>
  .filter {
    background-color: #d44402;
    padding: 10px 50px;
    border-radius: 40px;
    margin: 5px;
    cursor: pointer;
  }

  .filter-container {
    text-align: center;
    margin-bottom: 20px;
  }

  h1 {
    text-align: center;
    margin-top: 20px;
  }

  h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media (min-width: 800px) {
    .artist_grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
</style>
