---
import "../styles/global.css";
import Frame from "../layout/frame.astro";
---

<Frame pageTitle="Lineup">
  <h1>LINEUP</h1>
  <h2>This is the complete lineup for Karrusel 2024</h2>

  <div class="filter-container">
    <button class="filter">Thursday</button>
    <button class="filter">Friday</button>
  </div>
  <div class="filter-container">
    <button class="filter">Saturday</button>
  </div>

  <img src="https://i.ibb.co/NpxKS9r/grainy-karrusel.webp" alt="" />
  <h2>Anna Logic</h2>

  <img src="https://i.ibb.co/NpxKS9r/grainy-karrusel.webp" alt="" />
  <h2>HAAi</h2>

  <img src="https://i.ibb.co/NpxKS9r/grainy-karrusel.webp" alt="" />
  <h2>Narciss</h2>

  <img src="https://i.ibb.co/NpxKS9r/grainy-karrusel.webp" alt="" />
  <h2>Mira</h2>

  <img src="https://i.ibb.co/NpxKS9r/grainy-karrusel.webp" alt="" />
  <h2>FJAAK</h2>

  <img src="https://i.ibb.co/NpxKS9r/grainy-karrusel.webp" alt="" />
  <h2>SPFDJ</h2>
</Frame>

<style>
  .filter {
    background-color: #d44402;
    padding: 10px 20px;
    border-radius: 40px;
    margin: 5px;
  }

  .filter-container {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
</style>
