---
import "../styles/global.css";
import Frame from "../layout/frame.astro";
---

<Frame pageTitle="Lineup">
  <h1>LINEUP</h1>
  <h2>This is the complete lineup for Karrusel 2024</h2>

  <img src="" alt="" />
  <h2>Anna Logic</h2>

  <img src="" alt="" />
  <h2>HAAi</h2>

  <img src="" alt="" />
  <h2>Narciss</h2>

  <img src="" alt="" />
  <h2>Mira</h2>

  <img src="" alt="" />
  <h2>FJAAK</h2>

  <img src="" alt="" />
  <h2>SPFDJ</h2>
</Frame>

<style></style>
