---
const { style, imgPath, header, text } = Astro.props;
---
<div class="grid_1-1">
    <div class="textbox" >
        <h2>{header}</h2>
        <p class="text">{text}</p>
    </div>

        <img class={style} src={imgPath} alt="" />

</div>

<style>
@media (min-width: 600px) {
    .text{
        max-width: 78ch;
        margin: 15px 0 0 35px;
    }
    .textbox{
        grid-column: span 6;
        margin: auto;
    }
    .grid_1-1{
        display: grid;
        grid-template-columns: repeat(11, 1fr);
    }
    .fliped{
        grid-column: span 5;
        order: -1;
        
    }
    .normal{
        grid-column: span 5;
    }
    img{
        object-fit: contain;
        width: 78%;
        margin: 20px auto;
    }

}
</style>