
<div id="infoholder">
    <img class="artistphoto" src="/images/anna.webp" alt="">
    <p class="artistinfo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, laboriosam. Ab earum quisquam, ipsum eligendi natus tempore reiciendis in ut, corrupti illo minus quas nihil soluta recusandae dolorum itaque sapiente.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam minima facilis dolorem ab repudiandae dicta culpa, voluptatibus beatae, magni consequuntur, voluptate rerum sint? Suscipit molestias corrupti earum repellat corporis ad.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit quidem sunt quibusdam expedita ut! Temporibus aut illo nobis dolorum quod totam amet accusamus quaerat facilis odit? Voluptates, aliquid! Nostrum, optio?</p>

</div>
<style>
    #infoholder{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .artistphoto{
        padding: 50px;
        width: 80%;
        height: auto;
        margin-left: 50px;
        margin-top: 20px;
        
    }
    .artistinfo{
        padding: 30px;
        margin-top: 100px;
        font-size: 20px;'
        
    }
    
</style>