---
const {artistPhotoPath, artistInfoText} = Astro.props;
---

<div id="infoholder">
    <img class="artistphoto" src={artistPhotoPath} alt="">
    <p class="artistinfo">{artistInfoText}</p>

</div>

<style>
    #infoholder{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .artistphoto{
        padding: 50px;
        width: 80%;
        height: auto;
        margin-left: 50px;
        margin-top: 20px;
        
    }
    .artistinfo{
        padding: 30px;
        margin-top: 100px;
        font-size: 20px;'
        
    }
</style>