---
const { buttonText } = Astro.props;
---

<button>{buttonText}</button>

<style>
  button {
    background-color: #d44402;
    font: inherit;

    border: none;
    color: var(--text-white);
    font-weight: 500;
    font-size: 36px;
    display: inline-block;
    border-radius: var(--border-radius-round);
    transition: scale 33ms ease-in-out;
    padding: 1px 50px;
    border: 3px black solid;
    text-align: center;
    margin-left: 16%;
  }
</style>
