---

---

<div class="container">
  <div class="box" id="days"></div>
  <div class="box" id="hours"></div>
  <div class="box" id="minutes"></div>
  <div class="box" id="seconds"></div>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
  }

  .box {
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--gradient-primary);
    color: var(--text-white);
  }
</style>

<script>
  // Get the target date and time for the countdown in milliseconds since January 1, 1970, 00:00:00 UTC
  const countDownDate = new Date("Aug 22, 2024 9:00:00").getTime();

  // Function to update the countdown display
  function updateCountdown() {
    // Get the current date and time in milliseconds since January 1, 1970, 00:00:00 UTC
    const now = new Date().getTime();

    // Calculate the time difference between the current date/time and the countdown target date/time
    const distance = countDownDate - now;

    // Calculate the number of days, hours, minutes, and seconds remaining
    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor(
      (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    );
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Update the HTML elements with the countdown values
    document.getElementById(
      "days"
    ).innerHTML = `<h2>${days}</h2><div>days</div>`;
    document.getElementById(
      "hours"
    ).innerHTML = `<h2>${hours}</h2><div>hours</div>`;
    document.getElementById(
      "minutes"
    ).innerHTML = `<h2>${minutes}</h2><div>minutes</div>`;
    document.getElementById(
      "seconds"
    ).innerHTML = `<h2>${seconds}</h2><div>seconds</div>`;

    // If the countdown has reached zero or below, stop the countdown and display a message
    if (distance < 0) {
      clearInterval(countdownInterval); // Stop the countdown timer
      document.getElementById("countdown").innerHTML = "Now we party!"; // Display party message
    }
  }

  // Initial call to update countdown immediately
  updateCountdown();

  // Update countdown every second
  const countdownInterval = setInterval(updateCountdown, 1000);
</script>
