<div id="container">
    <div id="sceneholder">
        <p class="text">Scene:</p>
        <p class="text">test</p>
    </div>
    <div id="dateholder">
        <p class="text">Date:</p>
        <p class="text">test</p>
    </div>
    <div id="timeholder">
        <p class="text">Time:</p>
        <p class="text">test</p>
    </div>
</div>

<style>
    #container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgb(76,66,56);
background: linear-gradient(0deg, rgba(76,66,56,1) 0%, rgba(111,75,145,1) 0%, rgba(212,68,2,1) 100%);
        padding-top: 20px;
        padding-bottom: 20px;
        
    }
    #sceneholder{
        display: flex;
        gap: 0.3rem;
        align-items: baseline;
        
    }
    #dateholder{
        display: flex;
        gap: 0.3rem;
        align-items: baseline;
        
    }
    #timeholder{
        display: flex;
        gap: 0.3rem;
        align-items: baseline;
        
    }
    .text{
        font-size: 20px;
    }
</style>