---
const { pageTitle } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{pageTitle}</title>
</head>
<html lang="en">
  <body>
    <header>
      <nav><a href="/">home</a><a href="/about">historie</a><a href="/singleveiw">sig</a></nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <div class="grid_1-2-2">
        <img src="../../public/images/logo.png" alt="logo" />
        <div class="contact">
          <h3>Contact us</h3>
          <p>info@nusnus.dk</p>
          <h3>Find us</h3>
          <p>Refshalevej 193, 1432 Copenhagen</p>
        </div>
        <div class="pages">
        <a href=""><h3>Front page</h3></a>
        <a href=""><h3>Lineup</h3></a>
        <a href=""><h3>About us</h3></a>
    </div>
      </div>
      <div class="SoMe">
        <div class="icons">
<img id="insta" src="../../public/images/instagram.png" alt="instagram">
<img id="facebook" src="../../public/images/Vector.png" alt="facebook">
</div>
</div>
    </footer>
  </body>
</html>

<style>
    *{
        margin: 10px;
    }
  footer {
    background: linear-gradient(90deg, #6f4b91 14%, #553176 55%, #2b0f44 100%);
    margin: 0px
  }
  .pages h3{
    margin-top: -10px;
    margin-bottom: 2px
  }
  .grid_1-2-2{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    margin: 0px
  }
  footer img{
width: 50%;
height: auto;
margin: auto;
  }
.SoMe img{
    width: 30%;
    height: auto;
}
.SoMe{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 0px;
}
#insta{
    width: 30%;
    height: auto;
}
#facebook{
    width: 20%;
    height: auto
}
.icons{
    display: flex;
}
</style>
