---
const { pageTitle } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
</head>
<html lang="en">
    <body>
        <header>
            <a href="../pages/aboutKarrusel.astro">aboutKarrusel</a>
        </header>
        <main>
            <slot />
        </main>
        <footer>
            <p>Contact us <br> info@nusnus.dk</p>
            <p>Find us <br> Refshalevej 193, 1432 Copenhagen. </p>
        </footer>
    </body>
</html>

<style>
    footer {
        background: linear-gradient(90deg,#6f4b91 14%,#553176 55%,#2b0f44 100%);
        text-align: center;
    }
</style>